.cover {
  display: flex;
  position: relative;
  flex-basis: calc(100% - 48px * 2);
}

@media screen and (max-width: 1024px) {
  .cover {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    flex-basis: 100%;
  }
}
