.footer__link {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  margin-right: 18px;
}

.footer__link:hover {
  text-decoration: none;
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .footer__link:last-of-type {
    margin-bottom: 48px;
  }
}
