.place {
  margin: 0;
  padding: 0 0 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.place:last-of-type {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place {
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    padding-bottom: 50px;
  }
}
